ios/Podfile.lock
ios/Flutter/Generated.xcconfig
=======
migrate_working_dir/

# Flutter
.dart_tool/
.flutter-plugins
.packages
pubspec.lock
build/
.env

# Android
android/local.properties
android/.gradle
android/captures/
android/gradlew.bat
android/gradlew
.android/

# iOS
ios/Pods/
ios/Podfile.lock
ios/.symlinks/
ios/Flutter/Generated.xcconfig

# Web
web/packages/
web/.dart_tool/

# Laravel
admin-web-app/vendor/
admin-web-app/.env
admin-web-app/.env.*.php
admin-web-app/.env.backup
admin-web-app/bootstrap/cache/
admin-web-app/storage/logs/
admin-web-app/storage/debugbar/
admin-web-app/node_modules/
admin-web-app/public/storage
admin-web-app/public/hot

# Backend API
backend-api/node_modules/
backend-api/.env
backend-api/dist/
backend-api/coverage/

# IDE
.vscode/
.idea/
*.swp
*.swo
.DS_Store
*.iml
*.sublime-project
*.sublime-workspace

# Logs
*.log
npm-debug.log*

# Miscellaneous
*.class
*.pyc
.atom/
.build/
.buildlog/
.history
.svn/
.swiftpm/


# IntelliJ related
*.ipr
*.iws

# The .vscode folder contains launch configuration and tasks you configure in
# VS Code which you may wish to be committed to version control.
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.flutter-plugins-dependencies
.pub-cache/
.pub/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# iOS/macOS
**/ios/**/*.mode1v3
**/ios/**/*.mode2v3
**/ios/**/*.moved-aside
**/ios/**/*.pbxuser
**/ios/**/*.perspectivev3
**/ios/**/*sync/
**/ios/**/.sconsign.dblite
**/ios/**/.tags*
**/ios/**/.vagrant/
**/ios/**/DerivedData/
**/ios/**/Icon?
**/ios/**/Pods/
**/ios/**/.symlinks/
**/ios/**/Flutter/Flutter.framework
**/ios/**/Flutter/Flutter.podspec
**/ios/**/Flutter/ephemeralEnv.sh
**/ios/**/Flutter/app.flx
**/ios/**/Flutter/app.zip
**/ios/**/Flutter/flutter_assets/
**/ios/**/Flutter/flutter_export_environment.sh
**/ios/**/GoogleService-Info.plist
**/ios/**/ServiceAccountKey.json
**/ios/**/Runner.xcworkspace/xcshareddata/WorkspaceSettings.xcsettings

# Android/Gradle/Maven
**/android/**/gradlew
**/android/**/gradlew.bat
**/android/**/gradle-wrapper.jar
**/android/**/GeneratedPluginRegistrant.java
**/android/key.properties
**/*.jks
**/*.keystore

# macOS
**/macos/Flutter/GeneratedPluginRegistrant.swift
**/macos/Flutter/GeneratedPlugins.swift

# Windows
windows/flutter/generated_plugin_registrant.cc
windows/flutter/generated_plugins.cmake
windows/flutter/generated_plugins.cc

# Linux
linux/flutter/generated_plugin_registrant.cc
linux/flutter/generated_plugins.cmake
linux/flutter/generated_plugins.cc

# Coverage
coverage/

# Exceptions to above rules.
!/packages/flutter_tools/test/data/dart_dependencies_test/**/.packages

